trigger:
  - main
  - feature/*

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: Build
    displayName: "Build i testy"
    jobs:
      - job: Test
        displayName: "Build + Test"
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: "sdk"
              version: "9.0.x"

          - script: dotnet restore
            displayName: "Restore"

          - script: dotnet build --configuration Release --no-restore
            displayName: "Build"

          - script: dotnet test --configuration Release --no-build --logger "trx;LogFileName=test_results.trx"
            displayName: "Test"

          - task: PublishTestResults@2
            inputs:
              testResultsFiles: "**/test_results.trx"
              testResultsFormat: "VSTest"
              failTaskOnFailedTests: true